<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Server</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <!--Bootstrap Css-->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />

    <!-- Materialdesign icons Css -->
    <link href="/static/css/materialdesignicons.min.css" rel="stylesheet">

    <!-- Mobirise icons Css -->
    <link href="/static/css/mobiriseicons.css" rel="stylesheet">

    <!-- Magnific-popup -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <!-- OWL SLIDER -->
    <link rel="stylesheet" href="/static/css/owl.carousel.css" />
    <link rel="stylesheet" href="/static/css/owl.theme.css" />
    <link rel="stylesheet" href="/static/css/owl.transitions.css" />

    <!-- Custom style Css -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/color/blue.css" rel="stylesheet">
    {% endblock %}
</head>

<body>
    {% block body %}
    {% endblock %}
    <!--START FOOTER-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-12">
                    <div class="text-center text-white footer-alt">
                        <!-- <ul class="list-unstyled list-inline mb-3">
                            <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook text-muted"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><i class="mdi mdi-linkedin text-muted"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><i class="mdi mdi-pinterest text-muted"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter text-muted"></i></a></li>
                        </ul> -->
                        <p class="text-muted mb-0">&copy; Copyright | 2019 All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--END FOOTER-->
    <!-- Back To Top -->
    <a href="#" class="back_top"> <i class="mdi mdi-chevron-up"> </i> </a>
    <!-- JAVASCRIPTS -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!--EASING JS-->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/scrollspy.min.js"></script>
    <!--PORTFOLIO FILTER JS-->
    <script src="/static/js/isotope.js"></script>
    <!-- Magnific Popup Js -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <!-- TYPED -->
    <script src="/static/js/typed.js"></script>
    <!--PARTICLES ANIMATE JS-->
    <script src="/static/js/particles.js"></script>
    <script src="/static/js/particles.app.js"></script>
    <!-- OWL CAROUSEL -->
    <script src="/static/js/owl.carousel.min.js"></script>
    <!--CUSTOM JS-->
    <script src="/static/js/custom.js"></script>
    <!--CUSTOM UPLOAD/DOWNLOAD JS-->
    <script src="/static/js/upload.js"></script>
    <!--D3.js-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <!--CUSTOM FORCE DIRECTED D3 GRAPH JS-->
    <script src="/static/js/graph.js"></script>
</body>

</html>