{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "style.html" %}
{% endblock %}
{% block body %}
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">Loading...</div>
    </div>
</div>

<!-- Start Navbar -->
<nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
    <div class="container">

        <a class="navbar-brand pt-0 logo" href="index.html">
            <img src="/static/images/logo-dark.png" alt="" class="img-fluid logo-light">
            <img src="/static/images/logo-dark.png" alt="" class="img-fluid logo-dark">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="mdi mdi-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="paper.html">Instruction</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<!-- START ABSTRACT -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h2><span class="font-weight-bold">Instruction</span></h2>
                    <p class="text-muted mt-2">Watch the 2 minute video below on how to use our
                        platform.</p>
                    <div class='embed-container'><iframe src='https://www.youtube-nocookie.com/embed/I308xDHVgU4'
                            frameborder='0'
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe></div>
                    <!-- <p class="text-muted mt-2">Transfer learning has proven to be a successful way to train high performing
                    deep learning models in various applications for which little labeled data is available. In transfer
                    learning, one pre-trains the model on a large dataset such as Imagenet or MS-COCO, and fine-tunes
                    its weights on the target domain. In our work, we claim that in the new era of ever increasing
                    number of massive datasets, selecting the relevant pre-training data itself is a critical issue. We
                    introduce a new problem in which available datasets are stored in one centralized location, i.e., a
                    dataserver. We assume that a client, a target application with its own small labeled dataset, is
                    only interested in fetching a subset of the server’s data that is most relevant to its own target
                    domain. We propose a novel method that aims to optimally select subsets of data from the dataserver
                    given a particular target client. We perform data selection by employing a mixture of experts model
                    in a series of dataserver- client transactions with a small computational cost. We show the
                    effectiveness of our work in several transfer learning scenarios, demonstrating state-of-the-art
                    per- formance on several target datasets and tasks such as image classification, object detection
                    and instance segmentation. We will make our framework available as a web-service, serving data to
                    users trying to improve performance in their A.I. application.
                </p> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END PAPER -->

<!--START FOOTER-->
<section class="section" id="footer">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-12">
                <div class="text-center text-white footer-alt">
                    <div class="text-center col-lg-12">
                        <img src="/static/images/uoft.png" style="width: 15%;"></img>
                        <img src="/static/images/vector.png" style="width: 15%;"></img>
                    </div>
                    <br>
                    <p class="text-muted mb-0"> Copyright &copy; University of Toronto 2019</p>
                    <ul class="list-unstyled list-inline mb-3">
                        <li class="list-inline-item"><a href="mailto:nds@cs.toronto.edu" , target="_blank"><i
                                    class="mdi mdi-email text-muted"></i></a>
                        </li>
                        <!-- <li class="list-inline-item"><a href="#"><i class="mdi mdi-linkedin text-muted"></i></a>
                        </li> -->
                        <!-- <li class="list-inline-item"><a href="#"><i class="mdi mdi-pinterest text-muted"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter text-muted"></i></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
</section>
<!--END FOOTER-->

{% endblock %}