{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "style.html" %}
{% endblock %}
{% block body %}
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">Loading...</div>
    </div>
</div>

<!-- Start Navbar -->
<nav class="navbar navbar-expand-lg fixed-top custom-nav sticky stickyadd2">
    <div class="container">

        <a class="navbar-brand pt-0 logo" href="index.html">
            <img src="/static/images/logo-dark.png" alt="" class="img-fluid logo-light">
            <img src="/static/images/logo-dark.png" alt="" class="img-fluid logo-dark">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="mdi mdi-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Search Engine</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="demo.html">Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contribute.html">Contribute</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="paper.html">Paper and Team</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h2><span class="font-weight-bold">What is Neural Data Server?</span></h2>
                </div>
                <br>
                <p class="text-muted mt-2" style="text-align: justify;">Transfer learning has proven to be a successful
                    way to train high performing
                    deep learning models
                    in various applications for which little labeled data is available. In transfer learning, one
                    pre-trains the model on a large dataset and fine-tunes its weights
                    on the target domain. In the new era of ever increasing number of
                    massive datasets, selecting the relevant pre-training data itself is a critical issue. To address
                    this, we introduce Neural Data Server, a web search
                    engine that uses A.I. to find the best data to pre-train your deep neural models for your target
                    application. Neural Data Server
                    indexes several popular Machine Learning datasets in its quest to serve optimal data to ML users.
                    For further technical information about NDS please see our <a href="paper.html"
                        target="_blank">paper</a>.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h2><span class="font-weight-bold">Instruction Video</span></h2>
                    <p class="text-muted mt-2">Watch the 2 minute instruction video on how to use our platform.</p>
                    <div class='embed-container'><iframe src='https://www.youtube-nocookie.com/embed/I308xDHVgU4'
                            frameborder='0'
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe></div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!--START FOOTER-->
<section class="section" id="footer">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-12">
                <div class="text-center text-white footer-alt">
                    <ul class="list-unstyled list-inline mb-3">
                        <li class="list-inline-item"><a href="terms.html" , target="_blank"><i
                                    class="mdi mdi-information-outline text-muted">License and Terms</i></a>
                        </li>
                        <li class="list-inline-item"><a href="privacy.html" , target="_blank"><i
                                    class="mdi mdi-information-outline text-muted">Privacy Policy</i></a>
                        </li>
                        <li class="list-inline-item"><a href="mailto:nds@cs.toronto.edu" , target="_blank"><i
                                    class="mdi mdi-email text-muted">Contact Us</i></a>
                        </li>
                        <li class="list-inline-item"><a href="contribute.html" , target="_blank"><i
                                    class="mdi mdi-git text-muted">Contribute</i></a>
                        </li>
                    </ul>
                    <div class="text-center col-lg-12">
                        <img src="/static/images/uoft.png" style="width: 15%;"></img>
                        <img src="/static/images/vector.png" style="width: 15%;"></img>
                    </div>
                    <br>
                    <p class="text-muted mb-0"> Copyright &copy; University of Toronto 2019</p>
                    <br>
                </div>
            </div>
        </div>
</section>
<!--END FOOTER-->

{% endblock %}