{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "style.html" %}
{% endblock %}
{% block body %}
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">Loading...</div>
    </div>
</div>

<!-- Start Navbar -->
<nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
    <div class="container">

        <a class="navbar-brand pt-0 logo" href="#">
            <img src="/static/images/logo.png" alt="" class="img-fluid logo-light">
            <img src="/static/images/logo-dark.png" alt="" class="img-fluid logo-dark">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="mdi mdi-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#dataset">Search Engine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="demo.html">Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contribute.html">Contribute</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="paper.html">Paper and Team</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<!-- START HOME -->
<section class="section header-bg-img h-100vh clippath_none" id="home">
    <div class="bg-overlay"></div>
    <div class="header-table">
        <div class="header-table-center">
            <div class="container position-relative z-index">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="text-center header-content mx-auto">
                            <h1 class="header-name text-white text-capitalize mb-0">Neural Data Server<span
                                    class="font-weight-bold" data-elements=""></span></h1>
                            <p class="text-white mx-auto header-desc mt-0" style="font-size: 130%;">A.I.-Powered Search
                                Engine for A.I.:<br>
                                Find Best
                                Data to Pre-Train Your Deep Neural
                                Models
                            </p>
                            <div class="mt-4 pt-2">
                                <a class="btn btn-outline-custom btn-round" href="#abstract">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HOME -->

<!-- START ABOUT -->
<section class="section" id="abstract">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h2><span class="font-weight-bold">What is Neural Data Server?</span></h2>
                </div>
                <br>
                <!-- <p class="text-muted mt-2" style="text-align: justify;">Transfer learning has proven to be a successful
                    way to train high performing
                    deep learning models
                    in various applications for which little labeled data is available. In transfer learning, one
                    pre-trains the model on a large dataset and fine-tunes its weights
                    on the target domain. In the new era of ever increasing number of
                    massive datasets, selecting the relevant pre-training data itself is a critical issue. To address
                    this, we introduce Neural Data Server, a web search
                    engine that uses A.I. to find the best data to pre-train your deep neural models for your target
                    application. Neural Data Server
                    indexes several popular Machine Learning datasets in its quest to serve optimal data to ML users.
                </p> -->
                <p class="text-muted mt-2" style="text-align: justify;">Neural Data Server is a search engine that
                    uses A.I. to find the best data to pre-train your deep neural models for your target application. In
                    the new era of ever increasing number of
                    massive datasets, selecting the relevant pre-training data itself is a critical issue. To address
                    this, we introduce Neural Data Server, a web search
                    engine that uses A.I. to find the best data to pre-train your deep neural models for your target
                    application. Neural Data Server
                    indexes several popular Machine Learning datasets in its quest to serve optimal data to ML users,
                    and returns IDs of relevant data for your application.
                </p>
                <p class="text-muted mt-2">Watch the short video below on how Neural Data Server works. Also checkout
                    our guide on how to use our
                    platform. For further technical information about NDS please see our <a href="paper.html"
                        target="_blank">paper</a>. </p>
                <br>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="demo.html" target="_blank" class="btn btn-custom">Guide</a>
                    </div>
                </div>
                <div class="mt-3 text-center">
                    <video width="80%" controls>
                        <source src="/static/images/DNSINTROFINALFINAL.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <br>
                </div>
                <br>
                <p class="text-muted mt-2"><b>Disclaimer:</b></p>
                <p class="text-muted mt-2"><b>* We do not host datasets. </b>In NDS we provide links to examples from
                    existing datasets. Below each
                    dataset we provide the license information. Please contact each dataset’s original provider for any
                    questions/licensing.</p>
            </div>
        </div>
    </div>
</section>
<!-- END ABOUT -->

<!--START DATASET -->
<section class="section text-center bg-light" id="dataset">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="text-center">
                    <h2>1. NDS <span class="font-weight-bold">Dataset Registry</span></h2>
                    <p class="text-muted mx-auto section-subtitle mt-3">Check out our datasets we current support. You
                        can optionally hover and download experts for adapting locally.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <ul class="col list-unstyled list-inline mb-0 text-uppercase work_menu" id="menu-filter">
                <li class="list-inline-item"><a class="active" data-filter="*">All</a></li>
                <li class="list-inline-item"><a class="" data-filter=".classification">Classification</a></li>
                <li class="list-inline-item"><a class="" data-filter=".detection">Detection</a></li>
                <li class="list-inline-item"><a class="" data-filter=".misc">Misc</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4 work-filter">
            <div class="col-lg-4 work_item detection">
                <div class="img-fluid">
                    <div class="work_box">
                        <div class="work_img">
                            <img src="/static/images/works/2-openimages.jpg" class="img-fluid mx-auto d-block rounded"
                                alt="work-img">
                        </div>
                        <div class="work_detail">
                            <div class="mb-2"><a class="btn btn-outline-light"
                                    href="https://storage.googleapis.com/openimages/web/index.html" target="_blank">View
                                    Dataset</a>
                            </div>
                            <div class="mb-2"><a class="btn btn-outline-light"
                                    href="https://www.dropbox.com/s/97kr7k3b2wyjjnn/openimages.zip?dl=0" target="_blank"
                                    download="">Download
                                    Experts</a>
                            </div>
                        </div>
                        <!-- <div>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div> -->
                    </div>
                    <!-- <p><a href="https://storage.googleapis.com/openimages/web/index.html">View Dataset</a></p> -->
                    <p><b>License: </b>CC-by 4.0</p>
                </div>
            </div>
            <div class="col-lg-4 work_item detection">
                <div class="img-fluid">
                    <div class="work_box">
                        <div class="work_img">
                            <img src="/static/images/works/1-coco.jpg" class="img-fluid mx-auto d-block rounded"
                                alt="work-img">
                        </div>
                        <div class="work_detail">
                            <div class="mb-2"><a class="btn btn-outline-light" href="http://cocodataset.org/"
                                    target="_blank">View Dataset</a>
                            </div>
                            <div class="mb-2"><a class="btn btn-outline-light"
                                    href="https://www.dropbox.com/s/7odxi0rmutcnkwv/coco.zip?dl=0" target="_blank"
                                    download="">Download
                                    Experts</a>
                            </div>
                        </div>
                    </div>
                    <!-- <p><a href="http://cocodataset.org/#home">View Dataset</a></p> -->
                    <p><b>License: </b>CC-by 4.0</p>
                </div>
            </div>
            <div class="col-lg-4 work_item classification">
                <div class="img-fluid">
                    <div class="work_box">
                        <div class="work_img">
                            <img src="/static/images/works/3-imagenet.jpg" class="img-fluid mx-auto d-block rounded"
                                alt="work-img">
                        </div>
                        <div class="work_detail">
                            <div class="mb-2"><a class="btn btn-outline-light" href="http://www.image-net.org/"
                                    target="_blank">View Dataset</a>
                            </div>
                            <div class="mb-2"><button class="btn btn-outline-light" type="button">Download
                                    Experts</button></div>
                        </div>
                    </div>
                    <!-- <p><a href="http://www.image-net.org/">View Dataset</a></p> -->
                    <p><b>Copyright: </b><a href="http://image-net.org/download-faq">Terms</a></p>
                </div>
            </div>
            <p style="text-align: left; font-size: 80%;">* Licenses presented are for each dataset. We make no
                warranties regarding the license
                status of images in each dataset and you should verify the license for each image yourself.</p>
            <br><br><br><br>
            <p style="text-align: left;"><b>Contribute:</b> Help grow NDS dataset registry by registering your dataset.
                <a href="https://forms.gle/5GYFuSZ1emjQGwKH7">Please see instructions.</a></p>
        </div>
    </div>
</section>
<!--END DATASET -->

<!-- START FAST ADAPTATION -->
<section class="section" id="fast-adapt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h2>2. Adapt Your Dataset</h2>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <a href="https://colab.research.google.com/drive/1X2BvoQcaFWDKTov6zOwVtaa7O9eBlQE3"
                            target="_blank" class="btn btn-custom" download="NeuralDataServer_ClientFastAdapt.ipynb">
                            Fast Adapt Colab Notebook</a>
                        <p class="text-muted mt-2">Web Option: Open the Colab Notebook to download and adapt experts</p>
                    </div>
                    <div class="col-lg-6 text-center">
                        <a href="https://github.com/yanxi0830/NeuralDataServer-FastAdapt" target="_blank"
                            class="btn btn-custom" download="NeuralDataServer_ClientFastAdapt.ipynb"> Fast Adapt Local
                            Script</a>
                        <p class="text-muted mt-2">Local Option: Download experts and adapt to your dataset locally </p>
                    </div>
                    <!-- <div class="col-lg-12"> -->
                    <!-- <a href="/NeuralDataServer_ClientFastAdapt.ipynb" target="_blank" class="btn btn-custom" download="NeuralDataServer_ClientFastAdapt.ipynb"> Fast Adapt Colab Notebook</a> -->
                    <!-- <a href="https://colab.research.google.com/drive/1X2BvoQcaFWDKTov6zOwVtaa7O9eBlQE3" target="_blank" class="btn btn-custom" download="NeuralDataServer_ClientFastAdapt.ipynb"> Fast Adapt Colab Notebook</a> -->
                    <!-- <p class="text-muted mt-2">Option 1: Download and open the notebook in Colab to download and adapt experts</p> -->
                    <!-- <br> -->
                    <!-- <a href="https://github.com/yanxi0830/NeuralDataServer-FastAdapt" target="_blank" class="btn btn-custom" download="NeuralDataServer_ClientFastAdapt.ipynb"> Fast Adapt Local Script</a> -->
                    <!-- <p class="text-muted mt-2">Option 2: Download experts and adapt to your dataset locally </p> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END FAST ADAPTATION -->


<!-- START DOWNLOAD -->
<section class="section bg-light" id="download-subset">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="text-center">
                    <h2><span class="font-weight-bold">3. Download</span> Data Subset</h2>
                    <p class="text-muted mx-auto section-subtitle mt-3">Upload the transfer.pkl file generated by the
                        fast
                        adapt script and download the most relevant subset</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="form-kerri contact_form">
                    <div id="message"></div>
                    <form method="post" name="upload-form" id="upload-form" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group mt-2">
                                    <label for="upload-file-form">Upload transfer.pkl</label>
                                    <input name="file" type="file" class="form-control-file" id="upload-file-form">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group mt-2">
                                    <label for="select-dataset">Budget (Number of Images)</label>
                                    <input type="number" , class="form-control" , id="budget" , placeholder="1000">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <button id="upload-btn" class="submitBnt btn btn-custom text-uppercase"
                                    type="button">Upload & Visualize</button>
                                <!-- <input type="submit" class="submitBnt btn btn-custom text-uppercase" value="Upload"> -->
                                <button id="download-btn" class="submitBnt btn btn-custom text-uppercase" disabled=True
                                    type="button" data-toggle="tooltip" data-placement="bottom"
                                    title="We do not host datasets on our server,
                                    clicking Download will give you a JSON
                                    file containing image filenames prefixed by their dataset. Annotations can be obtained from the respective original dataset provider.">Download</button>
                                <div id="simple-msg">
                                </div>
                                <br>
                                <!-- <p style="text-align: left; font-size: 90%;">* We do not host datasets on our server,
                                    clicking Download will give you a JSON
                                    file containing image filenames prefixed by their dataset. </p> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-5" style="display: none;" id="graph-div">
            <div class="col-lg-12">
                <svg width="960" height="650"></svg>
            </div>
            <p>Force Directed Graph of dataset clusters, showing transfer performance measured from fast adaptation.
                The centre
                node represents your target dataset, the other nodes represent each expert trained on a particular
                source dataset cluster. Closer nodes imply higher relevancy to your dataset.
            </p>
        </div>
        <p class="text-muted mt-2" style="font-size: 100%; text-align: justify;"><b> * Terms of Use: </b>NDS is a free
            service. By using NDS,
            in addition to
            respecting
            the original dataset
            licenses, you agree that the data suggested to you by NDS will not be used in offensive or
            non-ethical A.I. applications. Our dataset experts are neural networks trained on subsets of the datasets.
            Using the experts themselves for commercial applications is strictly forbidden. You are required to license
            the data from original dataset providers.</p>

    </div>
</section>
<!-- <section class="section bg-light" id="link-own-dataset">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- END CONTACT -->
<!--START FOOTER-->

<section class="section" id="footer">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-12">
                <div class="text-center text-white footer-alt">
                    <ul class="list-unstyled list-inline mb-3">
                        <li class="list-inline-item"><a href="terms.html" , target="_blank"><i
                                    class="mdi mdi-information-outline text-muted">License and Terms</i></a>
                        </li>
                        <li class="list-inline-item"><a href="mailto:nds@cs.toronto.edu" , target="_blank"><i
                                    class="mdi mdi-email text-muted">Contact Us</i></a>
                        </li>
                    </ul>
                    <div class="text-center col-lg-12">
                        <img src="/static/images/uoft.png" style="width: 15%;"></img>
                        <img src="/static/images/vector.png" style="width: 15%;"></img>
                    </div>
                    <br>
                    <p class="text-muted mb-0"> Copyright &copy; University of Toronto 2019</p>
                    <br>
                </div>
            </div>
        </div>
</section>
<!--END FOOTER-->
{% endblock %}