{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "style.html" %}
{% endblock %}
{% block body %}
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">Loading...</div>
    </div>
</div>

<!-- Start Navbar -->
<nav class="navbar navbar-expand-lg fixed-top custom-nav stickyadd2">
    <div class="container">

        <a class="navbar-brand pt-0 logo" href="index.html">
            <img src="/static/images/logo-dark.png" alt="" class="img-fluid logo-light">
            <img src="/static/images/logo-dark.png" alt="" class="img-fluid logo-dark">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="mdi mdi-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Search Engine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="demo.html">Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contribute.html">Contribute</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="paper.html">Paper and Team</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h2><span class="font-weight-bold">License and Terms</span></h2>
                </div>
            </div>
            <div class="col-lg-12">
                <h4 class="mt-4">Terms of Use</h4>
                <p class="text-muted mt=2">NDS is a free service. By using NDS, in addition to respecting the original
                    dataset licenses, you agree that the data suggested to you by NDS will not be used in offensive or
                    non-ethical A.I. applications. Our dataset experts are neural networks trained on subsets of the
                    datasets. Using the experts themselves for commercial applications is strictly forbidden. You are
                    required to license the data from original dataset providers.</p>
                <p class="text-muted mt=2">If you are using NDS for commercial applications and find NDS useful,
                    please consider making a sponsorship by emailing <a href="mailto:nds@cs.toronto.edu" ,
                        target="_blank">nds@cs.toronto.edu</a></p>
            </div>
            <div class="col-lg-12">
                <h4 class="mt-4">License Agreement</h4>
                <p class="text-muted mt=2">Please respect the licenses from each dataset in our Dataset Registry. We make no warranties regarding the
                    license status of images in
                    each dataset and you should verify the license for each image yourself.</p>
            </div>
            <div class="col-lg-12">
                <h4 class="mt-4">Disclaimer</h4>
                <p class="text-muted mt=2"><b>We do not host datasets.</b> In NDS we provide IDs to examples from
                    existing
                    datasets. Below each dataset we provide the license information. Please contact each dataset’s
                    original provider for any questions/licensing.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}